body {
  margin: 0px;
}

section {
  position: relative;
  outline:#000000 solid thin;
  height: 100px;
  width: 100px;
}

.dragger {
  position: absolute;
  outline:#000000 solid thin;
  height: 600px;
  width: 100px;
  z-index: 100;
}

.card1 {
  background-color: #aaa;
}

.card2 {
  background-color: #ccc;
}

.card3 {
  background-color: #999;
}

.card4 {
  background-color: #777;
}